{# src/FiveMinTo/BurgerBundle/Resources/views/layout.html.twig #}
 
{% extends "::layout.html.twig" %}
 
{% block title %}
  {{ parent() }} - Les Burgers
{% endblock %}
 
{% block body %}

<h1>Nos burgers!</h1>
    <table class="table table-condensed">
	    <thead>
	    	<tr>
	    		<th>Nom Burger</th>
	    		<th>Description</th>
	    	</tr>
	    </thead>
{% for burger in listBurgers %}
	    <tbody>
	    	<tr>
	    		<th>{{ burger.titreBurger }}</th>
	    		<th>{{ burger.descriptionBurger }}</th>
	    	</tr>
	    </tbody>
{% endfor %}
    </table>
    
{% endblock %}