{# src/FiveMinTo/BurgerBundle/Resources/views/layout.html.twig #}
 
{% extends "::layout.html.twig" %}
 
{% block title %}
  {{ parent() }} - Les Burgers
{% endblock %}
 
{% block body %}

<p> {{burgerDeleted.titreBurger}} supprimé</p>
    
{% endblock %}